.home-header {
    text-align: center;
    background-color: #00A3B8;
    border-radius: 10px;
}
.home-header h2 {
    color: #E6F4F1;
    font-size: 2rem;
}

.home-header h1 {
    font-size: 3rem;
    color: #0f52ba;
    margin-bottom: 1rem;
}
.home-header h1 span {
    color: #a9a9a9;
    font-weight: 500;
}

.home-header p {
    color: #E9FDFF;
}